{% extends "mastertemplate.html" %}

{% block content %}

<h1>Login</h1>

{% if wrongPassword %}
<p>Benutzername oder Passwort falsch!</p>
{% endif %}

<form method="POST" action="/login/">
    {% csrf_token %}
    <input type="hidden" name="redirect" value="{{ redirect }}">
    <div>
        <!-- <input name="username" type="text"> -->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input name="username" class="mdl-textfield__input" type="text">
            <label class="mdl-textfield__label" for="sample3">Name...</label>
        </div>
    </div>
    <div>
        <!-- <input name="password" type="password"> -->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="password" type="password">
            <label class="mdl-textfield__label" for="sample3">Password...</label>
        </div>
    </div>
    <div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Login
          </button>
    </div>
    <div>
        <span>Noch nicht Registiert? Dann klicke <a href="/register/">hier</a></span>
    </div>
</form>

{% endblock %}